h2{
    display: flex;
    justify-content: center;
}
.orders-container{
    margin-top: 10px;
}
.products-container {
    margin-top: 20px;
}
.product {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow:0 0 5px #42c1ce;
    margin-bottom: 20px;
}
.product-details{
    padding-right: 10px;
}
.product-image{
    width: 100%;
}
.description-text{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    max-height: 100px;
}
.icon {
    cursor: pointer;
    margin: 10px 5px 0 5px;
}
.icons{
    display: flex;
    justify-content: center;
}