<h2>Your Orders</h2>
<div class="products-container">
    <ng-container *ngIf="error">
        <div class="p-3 mb-2 bg-info text-white">{{error}}</div>
    </ng-container>
    <div class="row justify-content-end">
        <div class="col-md-4">
            <button (click)="refreshOrders()" class="btn btn-outline-info" style="width: 100%;">Refresh Order List</button>
        </div>
    </div>
    <ng-container *ngIf="orders">
        <div *ngFor="let order of orders" class="orders-container">
            <div class="row product">
                <div class="row" *ngIf="order.product">
                    <div class="col-md-5">
                        <div>
                            <img src="https://localhost:44327/Images/{{order.product.imagesNames[0]}}" class="product-image">
                        </div>
                        <div class="icons">
                            <a [routerLink]="['/products/', order.product.id]">
                                <i class="fas fa-info-circle fa-lg text-info icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 product-details">
                        <div class="row">
                            Product name: {{order.product.name}}
                        </div>
                        <div class="row">
                            Product category: {{order.product.categoryName}}
                        </div>
                        <div class="row">
                            Initial price: {{order.product.initialPrice}}$
                        </div>
                        <div class="row">
                            <span>Winnig price: <span class="text-warning">{{order.rate.suggestedPrice}}$</span></span>  
                        </div>
                        <div class="row">
                           <span>Order status: <span class="text-success">{{order.statusName}}</span> </span>
                        </div>
                        <div class="row">
                            Date of order creation: {{order.creatingDate | date:'M/d/yy, h:mm a'}}
                        </div>
                        <div class="row">
                            Shipping Address: {{order.shippingAddress}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
