h2{
    display: flex;
    justify-content: center;
}
.content-container {
    margin: 40px 0;
}

.products-container {
    margin-top: 30px;
}
.product {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow:0 0 5px #42c1ce;
    margin-bottom: 20px;
}
.product-details{
    padding-right: 10px;
}
.product-image{
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
    margin: auto;
}
.description-text{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    max-height: 100px;
}
.icon {
    cursor: pointer;
    margin: 10px 5px 0 5px;
}
.icons{
    display: flex;
    justify-content: center;
}
.closed{
    text-align: center;
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(-30deg);
}
.imagebox{
    max-width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: center;
}
