<div class="row content-container">
    <div class="col-md-6">
        <app-create-product></app-create-product>
    </div>
    <div class="col-md-6">
        <h2>Your Products</h2>
        <div class="products-container">
            <ng-container *ngIf="errorMessage">
                <div class="p-3 mb-2 bg-info text-white">{{errorMessage}}</div>
            </ng-container>
            <div *ngFor="let product of usersProducts">
                <div class="row product">
                    <div class="col-md-5">
                        <div class="imagebox">
                            <img src="https://localhost:44327/Images/{{product.imagesNames[0]}}" class="product-image">
                        </div>
                        <div class="icons">
                            <a [routerLink]="['/products/', product.id]">
                                <i class="fas fa-info-circle fa-lg text-info icon"></i>
                            </a>
                            <i class="far fa-trash-alt fa-lg text-danger icon" (click)="onDelete(product.id)"></i>
                        </div>
                    </div>
                    <div class="col-md-7 product-details">
                        <ng-container *ngIf="!isAvaliable(product)">
                            <div class="closed">
                                CLOSED
                            </div>
                        </ng-container>
                        <div class="row">
                            Product name: {{product.name}}
                        </div>
                        <div class="row">
                            Product category: {{product.categoryName}}
                        </div>
                        <div class="row">
                            Initial price: {{product.initialPrice}}$
                        </div>
                        <div class="row">
                            Closing date: {{product.closingDate | date:'yyyy-MM-dd'}}
                        </div>
                        <div class="row description-text">
                            Product description: {{product.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

