<div class="form-container">
    <form [formGroup]="searchForm" autocomplete="off">
        <div class="form-group">
            <label>Product</label>
            <input class="form-control" formControlName="ProductName" placeholder="Product Name">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" formControlName="CategoryName">
                <option value="" disabled selected>Select a category</option>
                <option value="" selected>All categories</option>
                <option *ngFor="let item of categires" value="{{item.name}}">{{item.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Seller</label>
            <input class="form-control" formControlName="Seller" placeholder="Seller name">
        </div>
        <div class="form-group">
            <label>MinInitialPrice</label>
            <div class="row">
                <div class="col-md-9">
                    <input type="range" class="form-control" formControlName="MinInitialPrice" min="0" max="1000">
                </div>
                <div class="col-md-3">
                    {{searchForm.value.MinInitialPrice}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>MaxInitialPrice</label>
            <div class="row">
                <div class="col-md-9">
                    <input type="range" class="form-control" formControlName="MaxInitialPrice" min="0" max="1000">
                </div>
                <div class="col-md-3">
                    {{searchForm.value.MaxInitialPrice}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-lg btn-block" type="submit" (click)="onSubmit()">SEARCH</button>
        </div>
    </form>
  </div>
