<h2>Login Form</h2>
<div class="col-md-6 offset-md-3 form-container">
    <ng-container *ngIf="error">
        <div class="p-3 mb-2 bg-danger text-white">{{error}}</div>
    </ng-container>
    <form [formGroup]="loginForm" autocomplete="off" (submit)="login()">
        <div class="form-group">
            <label >Email</label>
            <input class="form-control form-control-lg" id="Email" formControlName="Email">
            <label class="text-danger" *ngIf="loginForm.get('Email').touched && loginForm.get('Email').errors?.required">This field is mandatory.</label>
            <label class="text-danger" *ngIf="loginForm.get('Email').touched && loginForm.get('Email').errors?.email">Invalid email address.</label>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control form-control-lg" formControlName="Password">
            <label class="text-danger" *ngIf="loginForm.get('Password').touched && loginForm.get('Password').errors?.required">This field is mandatory.</label>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 offset-md-3">
            <button type="submit" class="btn btn-info btn-lg btn-block" [disabled]="!loginForm.valid">Sign Up</button>
            </div>
        </div>
    </form>
</div>

