<h2>Register Form</h2>
<div class="col-md-6 offset-md-3 form-container">
    <ng-container *ngIf="error">
      <div class="p-3 mb-2 bg-danger text-white">{{error}}</div>
    </ng-container>
    <form [formGroup]="registerForm" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group required">
        <label>Full name</label>
        <input class="form-control" formControlName="UserName">
        <label class="text-danger" *ngIf="registerForm.get('UserName').touched && registerForm.get('UserName').errors?.required">This field is mandatory.</label>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="registerForm.get('Email').touched && registerForm.get('Email').errors?.required">This field is mandatory.</label>
        <label class="text-danger" *ngIf="registerForm.get('Email').touched && registerForm.get('Email').errors?.email">Invalid email address.</label>
      </div>
      <div formGroupName="Passwords">
        <div class="form-group required">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <label class="text-danger" *ngIf="registerForm.get('Passwords.Password').touched && registerForm.get('Passwords.Password').errors?.required">This field is mandatory.</label>
        </div>
        <div class="form-group required">
          <label>Confirm Password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger" *ngIf="registerForm.get('Passwords.ConfirmPassword').touched && registerForm.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
          <label class="text-danger" *ngIf="registerForm.get('Passwords.ConfirmPassword').touched && registerForm.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 offset-md-3">
          <button type="submit" class="btn btn-info btn-lg btn-block" [disabled]="!registerForm.valid">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
