<div class="form-container">
    <form [formGroup]="orderForm" autocomplete="off">
        <div class="form-row align-items-center justify-content-between">
            <div class="form-group col-md-3">
                <span class="your-rate-title">Shipping Address:</span>
            </div>
            <div class="form-group col-md-5">
                <input class="form-control" formControlName="ShippingAddress" placeholder="Shipping Address">
                <label class="text-danger" *ngIf="orderForm.get('ShippingAddress').touched && orderForm.get('ShippingAddress').errors?.required">This field is mandatory.</label>
            </div>
            <div class="form-group col-md-4">
                <button class="btn btn-info btn-md btn-block" type="submit" (click)="onSubmit()" [disabled]="!orderForm.valid">CREATE ORDER</button>
            </div>
        </div>
    </form>
</div>