<div>
    <h2>
        Rechagre your balance here!
    </h2>
    <ng-container *ngIf="error">
      <div class="p-3 mb-2 bg-danger text-white">{{error}}</div>
    </ng-container>
    <form [formGroup]="paymentForm" autocomplete="off"  class="form-container">
        <div class="form-group">
            <label>CARD NUMBER</label>
            <input class="form-control" formControlName="CardNumber" placeholder="16 Digit Card Number">
            <label class="text-danger" *ngIf="paymentForm.get('CardNumber').touched && paymentForm.get('CardNumber').errors?.required">This field is mandatory.</label>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>SECURITY CODE</label>
                <input type="password" class="form-control" formControlName="SecurityCode" placeholder="Security Code">
                <label class="text-danger" *ngIf="paymentForm.get('SecurityCode').touched && paymentForm.get('SecurityCode').errors?.required">This field is mandatory.</label>
            </div>
            <div class="form-group col-md-6">
                <label>VALIDE THROUGH</label>
                <input class="form-control" formControlName="ExpirationDate" placeholder="MM/YY">
                <label class="text-danger" *ngIf="paymentForm.get('ExpirationDate').touched && paymentForm.get('ExpirationDate').errors?.required">This field is mandatory.</label>
            </div>
        </div>
        <div class="form-group">
            <label>Amount of money</label>
            <input class="form-control" formControlName="AmountOfMoney" placeholder="0-8 Digit Amount Of Money">
            <label class="text-danger" *ngIf="paymentForm.get('AmountOfMoney').touched && paymentForm.get('AmountOfMoney').errors?.required">This field is mandatory.</label>
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="!paymentForm.valid" (click)="onSubmit()">SUBMIT</button>
        </div>
    </form>
</div>
