<h2>All Products</h2>
<div class="row" style="margin: 40px 0;">
    <div class="col-md-3">
        <app-search></app-search>
    </div>
    <div class="col-md-9">
        <ng-container *ngIf="errorMessage">
            <div class="p-3 mb-2 bg-info text-white">{{errorMessage}}</div>
        </ng-container>
        <div *ngFor="let product of products">
            <div class="row product">
                <div class="col-md-4 imagebox">
                    <img src="https://localhost:44327/Images/{{product.imagesNames[0]}}" class="product-image">
                </div>
                <div class="col-md-8">
                    <div class="row justify-content-between">
                        <div class="col-8 name">
                            <a [routerLink]="['/products/', product.id]">
                                {{product.name}}
                            </a>
                        </div>
                        <div class="col-4 align-self-end category">{{product.categoryName}}</div>
                    </div>
                    <div class="row">
                        <div class="col-12 price">Initial price: {{product.initialPrice}}$</div>
                    </div>
                    <div class="row">
                        <div class="col-12 cl-date">Closing date: {{product.closingDate | date:'yyyy-MM-dd'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>