<ng-container *ngIf="product">
    <div class="content-container">
        <div class="row">
            <div class="col-md-4 imagebox">
                <img src="https://localhost:44327/Images/{{product.imagesNames[0]}}" class="product-image">
            </div>
            <div class="col-md-8">
                <div class="row justify-content-between">
                    <div class="col-8 prod-name">
                        {{product.name}}
                    </div>
                    <div class="col-4 align-self-end prod-category">
                        {{product.categoryName}}
                    </div>
                </div>
                <ng-container *ngIf="isAvaliable() && rates">
                    <app-create-rate [productId]="product.id"></app-create-rate>
                </ng-container>
                <div class="row">
                    <div class="col-12">
                        <span class="init-price-text">Initial price: </span><span class="init-price">{{product.initialPrice}}$</span> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <span class="seller-title">Seller - </span> <span class="seller">{{ownerName}}</span> 
                    </div>
                    <div class="col-4 align-self-end closing-date">
                        <i class="fas fa-bell fa-lg text-warning"></i>
                        {{product.closingDate | date:'M/d/yy, h:mm a'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row second-container">
            <div class="col-md-6">
                <app-rate-list></app-rate-list>
            </div>
            <div class="col-md-6">
                <div class="desc-title">Description</div>
                <div class="desc">
                    {{product.description}}
                </div>
            </div>
        </div>
    </div>
</ng-container>
