
.content-container{
    margin-top: 50px;
}

.prod-name{
    font-size: 30px;
    text-transform: capitalize;
}

.prod-category{
    text-align: right;
    font-size: 25px;
    text-transform: uppercase;
}

.init-price-text{
    font-size: 18px;
}
.init-price {
    color: forestgreen;
}
.seller-title{
    font-size: 22px;
}
.seller{
    font-size: 20px;
    font-style: oblique;
}
.closing-date{
    text-align: right;
}
.second-container{
    margin: 30px 0;
}
.product-image{
    max-width: 100%;
    max-height: 380px;
    width: auto;
    height: auto;
    margin: auto;
}
.imagebox{
    max-width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: center;
}
.desc-title{
    text-align: center;
    font-size: 30px;
}

.desc{
    text-align:justify;
    white-space: pre-wrap;
}