<h2>Your won Products</h2>
<div class="products-container">
    <ng-container *ngIf="error">
        <div class="p-3 mb-2 bg-info text-white">{{error}}</div>
    </ng-container>
    <ng-container *ngIf="wonProducts">
        <div *ngFor="let wonproduct of wonProducts">
            <div class="row" *ngIf="wonproduct">
                <div class="col-md-10 offset-md-1 product">
                    <div class="row">
                        <div class="col-md-3 imagebox">
                            <img src="https://localhost:44327/Images/{{wonproduct.product.imagesNames[0]}}" class="product-image">
                        </div>
                        <div class="col-md-9">
                            <div class="row justify-content-between">
                                <div class="col-8 name">
                                    <a [routerLink]="['/products/', wonproduct.product.id]">
                                        {{wonproduct.product.name}}
                                    </a>
                                </div>
                                <div class="col-4 align-self-end category">{{wonproduct.product.categoryName}}</div>
                            </div>
                            <div class="row">
                                <div class="col-12 price">Initial price: {{wonproduct.product.initialPrice}}$</div>
                            </div>
                            <div class="row" *ngIf="wonproduct.rate">
                                <div class="col-12 price">Won price: {{wonproduct.rate.suggestedPrice}}$</div>
                            </div>
                            <div class="row">
                                <div class="col-12 cl-date">Closed: {{wonproduct.product.closingDate | date:'M/d/yy, h:mm a'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 offset-md-3">
                            <ng-container *ngIf="wonproduct.rate">
                                <app-create-order [rateId]="wonproduct.rate.id"></app-create-order>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
