<div class="title">
    List of rates
</div>
<ng-container *ngIf="productDetail.errorMessageRates">
    <div class="p-3 mb-2 bg-info text-white">{{productDetail.errorMessageRates}}</div>
</ng-container>
<ng-container *ngIf="productDetail.rates && productDetail.rates.length !== 0">
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Suggested Price</th>
              <th scope="col">Date</th>
              <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let rate of productDetail.rates; index as i">
            <tr>
                <td>{{rate.userName}}</td>
                <td>{{rate.suggestedPrice}}$</td>
                <td>{{rate.creatingDate | date:'M/d/yy, h:mm a'}}</td>
                <ng-container *ngIf="i==0 && account.user">
                  <td *ngIf="account.user.id == rate.userId && productDetail.isAvaliable()">
                    <i class="far fa-trash-alt fa-lg text-danger icon" (click)="onDelete(rate.id)"></i>
                  </td>  
                </ng-container>
            </tr>
        </tbody>
    </table>
</ng-container>
