<div class="form-container">
    <form [formGroup]="rateForm" autocomplete="off">
        <div class="form-row align-items-center justify-content-between">
            <div class="form-group col-md-3 ">
                <span class="title-price">Available price: </span><span style="color: red;">{{productDetails.availablePrice}}$</span>
            </div>
            <div class="form-group col-md-2">
                <span class="your-rate-title">Your rate:</span>
            </div>
            <div class="form-group col-md-4">
                <input class="form-control" formControlName="SuggestedPrice" placeholder="Suggested Price">
                <label class="text-danger" *ngIf="rateForm.get('SuggestedPrice').touched && rateForm.get('SuggestedPrice').errors?.required">This field is mandatory.</label>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-info btn-md btn-block" type="submit" (click)="onSubmit()" [disabled]="!rateForm.valid || !account.user">SUBMIT</button>
            </div>
        </div>
    </form>
</div>