.title-price {
    font-size: 18px;
}

.form-container {
    margin: 30px 0 20px 0;
    padding: 2rem 20px 1rem 20px;
    border-radius: 10px;
    border: 1px solid #a7e7fc;
    background-color: #ebfaff;
}

.your-rate-title{
    text-align: center;
    font-size: 16px;
}
