<h2>Create new lot</h2>
<div class="col-md-12 form-container">
    <ng-container *ngIf="error">
      <div class="p-3 mb-2 bg-danger text-white">{{error}}</div>
    </ng-container>
    <form [formGroup]="productForm" autocomplete="off">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Product Name</label>
                <input class="form-control" formControlName="Name">
                <label class="text-danger" *ngIf="productForm.get('Name').touched && productForm.get('Name').errors?.required">This field is mandatory.</label>
            </div>
            <div class="form-group col-md-6">
                <label>Category</label>
                <select class="form-control" formControlName="Category">
                    <option *ngFor="let item of categires" value="{{item.id}}">{{item.name}}</option>
                </select>
                <label class="text-danger" *ngIf="productForm.get('Category').touched && productForm.get('Category').errors?.required">This field is mandatory.</label>
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" formControlName="Description" rows="5"></textarea>
            <label class="text-danger" *ngIf="productForm.get('Description').touched && productForm.get('Description').errors?.required">This field is mandatory.</label>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Initial price</label>
                <input class="form-control" formControlName="InitialPrice" placeholder="0-8 Digit Amount Of Money">
                <label class="text-danger" *ngIf="productForm.get('InitialPrice').touched && productForm.get('InitialPrice').errors?.required">This field is mandatory.</label>
            </div>
            <div class="form-group col-md-6">
                <label>Closing date</label>
                <input type="date" class="form-control" formControlName="ClosingDate">
                <label class="text-danger" *ngIf="productForm.get('ClosingDate').touched && productForm.get('ClosingDate').errors?.required">This field is mandatory.</label>
            </div>
        </div>
        
        <div class="form-group">
            <label>Image</label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" formControlName="Image" (change)="onSelectFile($event)">
                    <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <label>Image</label>
            <input type="file" formControlName="Image" (change)="onSelectFile($event)">
        </div>-->
        <ng-container *ngIf="url">
            <div class="form-group imagebox">
                <img [src]="url" class="product-image">
            </div>
        </ng-container>
        
        <div class="form-group">
            <button class="btn btn-info btn-lg btn-block" type="submit" (click)="onSubmit()" [disabled]="!productForm.valid">SUBMIT</button>
        </div>
    </form>
  </div>
