h2{
    display: flex;
    justify-content: center;
}
.form-container{
    margin-top: 30px;
    margin-bottom: 100px;
}
.imagebox{
    max-width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: center;
}

.product-image{
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
    margin: auto;
}